node_name = "consul-server-{{ ansible_hostname }}"
server    = true
bootstrap = true
ui_config {
  enabled = true
}
datacenter = "dc1"
data_dir   = "/opt/consul/data"
log_level  = "INFO"
ports {
  http = 8500
  https = -1
}
addresses {
  http = "0.0.0.0"
}
tls {
 # https {
 #    ca_file = "{{ ext_tls }}/dco.pem"
 #    cert_file = "{{ ext_tls }}/consul.devcastops.pem"
 #    key_file = "{{ ext_tls }}/consul.devcastops.key"
 #    verify_incoming = false
 #  }
  internal_rpc {
    verify_server_hostname = true
  }
  defaults {
    verify_incoming = true
    verify_outgoing = true
    ca_file = "{{ tls_dir }}/consul-agent-ca.pem"
    cert_file = "{{ tls_dir }}/dc1-server-consul-0.pem"
    key_file = "{{ tls_dir }}/dc1-server-consul-0-key.pem"
  }
}
connect {
  enabled = true
}
